* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: teal;
}

nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    top: 0;
    min-height: 55vh;
    padding-top: 45vh;
    border-bottom: 3px solid #333;
}

.work {
    padding-top: 60px;
    margin-top: -60px;
}

.work .work-header {
    margin-top: 50px;
    font-weight: normal;
}

.project {
    text-decoration: none;
    color: teal;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
}

.project-pic {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid lightblue;
}

.project-title {
    font-weight: bold;
}

.show-all {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 90px;
    background: #e0ebe8;
    color: #008080;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #90C695;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 10px;
}

.contact {
    padding-bottom: 160px;
}

.header {
    padding: 160px 0 110px;
}

.contact-details {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: block;
}

footer {
    padding: 20px;
    background-color: teal;
    color: #fff;
    line-height: 40px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and(max-width: 600px) {
    nav ul li a {
        display: block;
        float: left;
    }
}